<div class="main-container blur">
  <div class="content-container">
    <div class="content-area">

      <div class="wrapper-login translate">
        <div class="header-image">

        </div>
        <form class="form" [formGroup]="registerForm">

          <input type="text" placeholder="Enter teamname" class="" formControlName="teamName">

          <input type="password" placeholder="Enter password" class="" formControlName="password">

          <button class="btn btn-primary btn-block" (click)="registerTeam()">Register</button>
        </form>
      </div>


    </div>
  </div>
</div>