<div class="main-container">
  <div class="content-container">

    <div class="content-area">
      <div class="row">
        <div class="col-md-6">
          <div class="team-details">
            <div class="row">
              <h2>Team Roster</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th>Sr. No.</th>
                    <th>Name</th>
                    <th>Specialty</th>
                    <th>Bought Price</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let player of players; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{player.name}}</td>
                    <td>{{player.batting}}</td>
                    <td>{{player.bowling}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <!-- right side -->
        <div class="col-md-6">
          
          <div class="money-row">
            <div class="row">
              <div class="col-md-4">
                <div class="balance-box">
                  <div class="row">
                    <div class="col-md-12">
                      <h4>Current Balance</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h2>${{currBalance}}</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="timer-box">
                  <div class="row">
                    <div class="col-md-12">
                      <h4>Maximum Bid Possible</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h2>${{maximumBid}}</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="bidding-price-box">

                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-primary btn-block" [disabled]="!buzzerStatus" (click)="bid()" style="height: 4rem; font-size: 1rem; margin: 0">BID!</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>