<div class="main-container">
  <div class="content-container">
    <div class="content-area">


      <div class="wrapper-login translate">
        <h4>Sell Player</h4>
        <form [formGroup]="adminForm">
          <input auto-complete [source]="playerNames" formControlName="playerName" placeholder="Player Name" style="border: none; border-bottom:1px solid #636363;" max-num-list="5"/>
          <input type="number" formControlName="bidAmount" placeholder="$ Price">
          
            <select formControlName="teamName">
              <option value="" disabled selected style="color: #aeaeae" hidden>Team Name</option>
              <option value="Super Sixers">Super Sixers</option>
              <option value="Gangs of Wasseypur">Gangs of Wasseypur</option>
              <option value="Bhaiyaji Ismile">Bhaiyaji Ismile</option>
              <option value="Jhakaas">Jhakaas</option>
              <option value="Rubber Ducks">Rubber Ducks</option>
              <option value="Velle Log">Velle Log </option>
              <option value="Ninja Warriors">Ninja Warriors</option>
              <option value="Queen's Aces - returns">Queen's Aces - returns</option>
              <option value="Saiyans XI">Saiyans XI</option>
              <option value="Dekh Lenge">Dekh Lenge</option>
              <option value="Bat Your Own Ball">Bat Your Own Ball</option>
              <option value="Ki Farak Penda">Ki Farak Penda</option>
              <option value="unsold">Unsold</option>
            </select>
          
          <button class="btn btn-primary btn-block" (click)="sell()">Bech De Bhai</button>
          
          <button class="btn btn-primary btn-block" (click)="startTimer()">Timer Chalu karo</button>
          <button class="btn btn-primary btn-block" (click)="resetBuzzer()" style="height: 80px">Buzzer Reset karo</button>

        </form>

      </div>


    </div>
  </div>
</div>