
    
    
.main-container
    background-image: url('../../../assets/bg-login.jpg')
    background-size: cover
    background-repeat: no-repeat
    // background-color: green
    
@font-face
    font-family: "Intro"
    src: url('../../../assets/fonts/Intro.otf')


.player-image
    width: 15vh
    height: 15vh
    background-image: url(../../../assets/shishir.jpg)
    background-size: contain
    border-radius: 50%
    align-self: flex-end
    

.wrapper
    height: 18vh
    display: flex
    flex-direction: column
    justify-content: center
    


.player-details
    height: 18vh

.first-name, .last-name, .skills
    display: inline
    font-style: italic

.intro
    font-family: "Intro"



.skill-box
    // //border: 1px solid red
    display: flex
    justify-content: space-around
    align-items: center

.box
    display: flex
    flex-direction: column
    justify-content: space-around
    border: 1px solid #aeaeae
    width: 80%
    margin: 0 auto
    border-radius: 1em
    border-top-left-radius: 5em
    height: 20vh
    background-color: white
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3)
    transform: scale(1.2)
h1,h2,h3,h4,h5,h6
    margin: 0
    color: black

.row
    //border: 1px solid green

.col-md-4, .col-md-3, .col-md-2
    //border: 1px solid red
.content-area
    display: flex
    justify-content: center
    align-items: center

.green
    color: green
.grey
    color: #aeaeae